language: lisp

env: PREFIX="$(pwd)/sbcl"
     SBCL_HOME="$(pwd)/sbcl/lib/sbcl"
     SBCL="$(pwd)/sbcl/bin/sbcl"
     SBCL_OPTIONS="--noinform --no-userinit"

install:
  - curl -L sbcl.tar.bz2 "${SBCL_DOWNLOAD_URL}" | tar -xj
  - ( cd sbcl-* && INSTALL_ROOT="${PREFIX}" sh install.sh )

  - curl -o cl "${CL_LAUNCH_DOWNLOAD_URL}"
  - chmod +x cl

  - curl -o quicklisp.lisp "${QUICKLISP_DOWNLOAD_URL}"
  - ./cl -L quicklisp.lisp '(quicklisp-quickstart:install :path "quicklisp/")'

  - ( cd quicklisp/local-projects
      && git clone http://github.com/scymtym/architecture.builder-protocol
      && git clone http://github.com/scymtym/parser.ini )

script:
  - ./cl
      -S '(:source-registry (:directory "'$(pwd)'") :ignore-inherited-configuration)'
      -e '(load "quicklisp/setup.lisp")'
      -e '(ql:register-local-projects)'
      -e '(ql:quickload (list :configuration.options :configuration.options-test))'
      -e '(ql:quickload (list :configuration.options-and-parser.ini :configuration.options-and-parser.ini-test))'
      -e '(ql:quickload (list :configuration.options-xml :configuration.options-xml-test))'
      '(or (configuration.options.test:run-tests) (uiop:quit -1))'
